body{
    height: auto;
    max-width: auto;
    margin: 20px;
    margin-top: 10px;
    background-color: white;
}
.login{
   border-radius: 10px;
   margin-top: 5px;
    height: 750px;
    background-image: url(../img/tamaulipas.jpg);
    background-repeat: repeat-x;
    background-size:contain;
}
.login:before{
    border-radius: 10px;
    content: "";
    width: 1310px;
    height: 740px;
    background-color: #555353;
    position: absolute;
    opacity: 0.5;
}
.registro{
    text-align: justify;
    padding-top: 18px;
}


label{
    display: inline-block;
    text-align: justify-all;
    width: 80px;
}

input{
    padding: 30px;
    border-radius: 5px;
   
}


input [type="radio"], input [type="checkbox"]{
    display: inline-block;
}
